.App {
  font-family: sans-serif;
  text-align: center;
  width: 90%;
  margin: auto;
}
/* .posts{
  border: 1px solid;
  background: lightblue;
  margin: 1rem;
  padding: 1rem;
} */
.post {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid;
}
